$white: #fff;
$isabeline: #eeeded;
$spanish-gray: #989797;
$coral: #EACB31;
$flame: #e4572e;
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$blue-de-france: #3c91e6;
$black: #000;

$pt-mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 18px;


